.footer
	.container
		.footer__block-one
			.footer-logo
				img(src='static/img/f_logo.png')
			p © 2017 Фитнес-клуб DDX.<br>Все права защищены.
			p
				a(href="#") Соглашение о защите персональных данных
			p
				a(href="#") Пользовательское соглашение
		.footer__block-two
			ul
				li
					a(class="active" href="#") Расписание
				li
					a(href="#") Абонементы
				li
					a(href="#") Тренеры
				li
					a(href="#") О клубе
				li
					a(href="#") Полезное
		.footer__block-tree
			a(href="tel:8 (800) 555-44-33") 8 (800) 555-44-33
			a(href="tel:8 (495) 583-44-33") 8 (495) 583-44-33
			a(href="mailto:info@ddxfitness.ru") Info@ddxfitness.ru
			.footer-social
				a(class="facebook" href="#")
					img(src='static/img/facebook.png')
				a(class="vk" href="#")
					img(src='static/img/vk.png')
				a(class="insta" href="#")
					img(src='static/img/insta.png')