.header.header_home.header__home-opl
	.header__block
		.header__block-top
			.container
				.header__block-top-left
					.logo
						img(src='static/img/logo.png')
						img(class="logo__mob" src='static/img/logo-mob.png')
					.city
						p Бутово
				.header__block-top-right
					.logo-mywell
						p MyWellness
					.phone
						a(href="tel:8 (495) 646-10-05") 8 (800) 555-44-33
						a(href="tel:8 (495) 646-10-05") 8 (495) 583-44-33
				a(class="menu__mob" href="#") Меню
		.container.header__block-bottom
			.link-club
				a(href="#") Выбрать клуб
			.menu
				include ../modules/menu-2
		.congratulation.container
			.congratulation__left-block
				h1 Поздравляем!<br> Вы только что приобрели абонемент<br> в фитнес клуб DDX
				p В ближайшее время вам на почту будет отправлен чек о покупке,<br> а также данные вашего менеджера для связи.
			.congratulation__rigth-block
				img(src='static/img/brs2.png')
				span.tarif Infinity

