.header.header_home.header__home-four.header__home-five
	.header__block
		.header__block-top
			.container
				.header__block-top-left
					.logo
						img(src='static/img/logo.png')
						img(class="logo__mob" src='static/img/logo-mob.png')
					.city
						p Бутово
				.header__block-top-right
					.logo-mywell
						p MyWellness
					.phone
						a(href="tel:8 (495) 646-10-05") 8 (800) 555-44-33
						a(href="tel:8 (495) 646-10-05") 8 (495) 583-44-33
				a(class="menu__mob" href="#") Меню
		.container.header__block-bottom
			.link-club
				a(href="#") Выбрать клуб
			.menu
				include ../modules/menu-2
		.container
			.promo
				.promo__block-img
					img(src='static/img/brs1.png')
					img(src='static/img/brs2.png')
					img(src='static/img/brs3.png')
				.promo__block-nav
					a(class="ankor" href="#unity")
						span Unity 3.0
					a(class="ankor" href="#outrace")
						span Outrace
					a(class="ankor" href="#spa")
						span SPA-зона
					a(class="ankor" href="#mywellness")
						span Mywellness DDX
					a(class="ankor" href="#team")
						span TeamBeats
					a(class="ankor" href="#lesmills")
						span Les Mills
				.promo__block-nav-mob.hidden
					a(class="ankor" href="#lesmills")
						span Что это?
				.promo__block-text
						p Твой ключ в цифровой фитнес <br> <span>от 1700 <b>&#8381;</b></span>
						a(href="#") Получить ключ

