.header.header__all
	.header__block
		.header__block-top
			.container
				.header__block-top-left
					.logo
						img(src='static/img/logo-b.png')
						img(class="logo__mob" src='static/img/logo-mob.png')
					.city
						p Бутово
				.header__block-top-right
					.logo-mywell
						p MyWellness
					.phone
						a(href="tel:8 (800) 555-44-33") 8 (800) 555-44-33
						a(href="#") Заказать звонок
				a(class="menu__mob" href="#") Меню
		.container.header__block-bottom
			.link-club
				a(href="#") Выбрать клуб
			.menu
				include ../modules/menu