ul
	li
		a(class="active" href="raspisanie.html") Расписание
	li
		a(href="aboniment.html") Абонементы
	li
		a(href="treneri.html") Тренеры
	li
		a(href="o-clube.html") О клубе
	li
		a(href="poleznoe.html") Полезное