extends ../layout/main

block content
	.error__page
		.container
			p Ой! Эта страница не найдена.<br> <a href="clubi.html">Выберите клуб</a> или вернитесь на <a href="index.html">главную страницу</a><br> <span class="error-right">вашего клуба</span>
			img(src='static/img/error.png')
