extends ../layout/main-r

block content
	include ../modules/breadcrumbs
	.container-fluide
		h1.fluide FAQ
		.faq.faq-club
			.faq-content
				a(href="#") Тут информационный текст например пару строк
				p Секретный подарок каждому, кто купит на год или полтора. И текст текст текст с описанием этого пункта в развернутом виде.
			.faq-content
				a(href="#") Тут информационный текст например пару строк
				p Секретный подарок каждому, кто купит на год или полтора. И текст текст текст с описанием этого пункта в развернутом виде.
			.faq-content.active
				a(class="active" href="#") Тут информационный текст например пару строк
				p(style={display: 'block'}) Секретный подарок каждому, кто купит на год или полтора. И текст текст текст с описанием этого пункта в развернутом виде.
			.faq-content
				a(href="#") Тут информационный текст например пару строк
				p Секретный подарок каждому, кто купит на год или полтора. И текст текст текст с описанием этого пункта в развернутом виде.
			.faq-content
				a(href="#") Тут информационный текст например пару строк
				p Секретный подарок каждому, кто купит на год или полтора. И текст текст текст с описанием этого пункта в развернутом виде.
			.faq-content
				a(href="#") Тут информационный текст например пару строк
				p Секретный подарок каждому, кто купит на год или полтора. И текст текст текст с описанием этого пункта в развернутом виде.
	.recording
		.container
			p Мне нужно больше информации
			form
				input(placeholder="ИМЯ" type="text")
				input(class="phone-val" placeholder="ТЕЛЕФОН" type="tel" required)
				button(class="btn btn__midnight_express" type="submit") Узнать
				.form__group
					label.checkbox
						input(checked type="checkbox")
						.checkbox__text
					p Я согласен с публичным <a href="#">договором-офертой</a><br> и <a href="#">политикой обработки персональных данных</a>