extends ../layout/main

block content
	include ../modules/breadcrumbs
	.container
		.page
			h1 Полезное
			.blog__main
				.blog__main-list
					.blog__main-item
						.blog-img
							img(src='static/img/bl1.jpg')
						.blog-description
							h2 Теория возникновения нарушений осанки
							p Первичные стабилизаторы выделены в отдельную группу, так как по мнению специалистов этими мышцами нельзя управлять осознанно. Их еще называют позотоническими - обеспечивают положение тела. Электрическая активность мышц в положении стоя выше, чем в положении лежа. Когда человек встает и попадает...
							a(class="readmore" href="#") Читать
					.blog__main-item
						.blog-img
							img(src='static/img/bl2.jpg')
						.blog-description
							h2 Фитнес и физические качества
							p В идеале, должно быть, чтобы все эти качества были гармонично развиты в человеке. По большому счету это и есть основная задача фитнеса, так как фитнес и переводится как быть готовым, подготовленным. Первые два качества, ловкость и быстрота, менее распространены, так как являются чуть более сложно оцен... 
							a(class="readmore" href="#") Читать
					.blog__main-item
						.blog-img
							img(src='static/img/bl3.jpg')
						.blog-description
							h2 Что такое программа тренировок и для чего
							p В идеале, должно быть, чтобы все эти качества были гармонично развиты в человеке. По большому счету это и есть основная задача фитнеса, так как фитнес и переводится как быть готовым, подготовленным. Первые два качества, ловкость и быстрота, менее распространены, так как являются чуть более сложно оцен...   
							a(class="readmore" href="#") Читать
				.ajax-load
					a(href="#") показать ещё
