extends ../layout/main

block content
	.container
		ul.popup-links
			li
				a(class="ankor" href="#appointment") Запись
			li
				a(class="ankor" href="#lesmills") Less mills
			li
				a(class="ankor" href="#unity") Unity
			li
				a(class="ankor" href="#mywellness") Mywellness
			li
				a(class="ankor" href="#spa") Spa
			li
				a(class="ankor" href="#team") Team
			li
				a(class="ankor" href="#outrace") Outrace
			li
				a(class="ankor" href="#schedule") Расписание
			li
				a(class="ankor" href="#trener") Тренер
			li
				a(class="ankor" href="#payment") Оплата

