extends ../layout/main-r

block content
	include ../modules/breadcrumbs
	.container
		.page
			.blog__item
				.blog__item-content
					h1 Outrace
					p Первичные стабилизаторы выделены в отдельную группу, так как по мнению специалистов этими мышцами нельзя управлять осознанно. Их еще называют позотоническими – обеспечивают положение тела. Электрическая активность мышц в положении стоя выше, чем в положении лежа. Когда человек встает и попадает в поле силы тяжести, необходимо преодолевать силу тяжести для обеспечения положения тела, поэтому мышцы активизируются. Первичные стабилизаторы в основном являются рефлекторно управляемыми.
					img(src='static/img/t3.jpg')
					p Первичные стабилизаторы выделены в отдельную группу, так как по мнению специалистов этими мышцами нельзя управлять осознанно. Их еще называют позотоническими – обеспечивают положение тела. Электрическая активность мышц в положении стоя выше, чем в положении лежа. Когда человек встает и попадает в поле силы тяжести, необходимо преодолевать силу тяжести для обеспечения положения тела, поэтому мышцы активизируются. Первичные стабилизаторы в основном являются рефлекторно управляемыми. Электрическая активность мышц в положении стоя выше, чем в положении лежа. Когда человек встает и попадает в поле силы тяжести, необходимо преодолевать силу тяжести для обеспечения.