extends ../layout/main-r

block content
	include ../modules/breadcrumbs
	.container
		h1 Технологии
		.club__choice.technologies
			.club__choice-block
				.club__choice-block-img
					.club__choice-block-img-wrap
						img(src='static/img/t1.jpg')
					.club__choice-address-block
						p Одна две строчки информации<br>две строчки информации
						a(href="#") Подробнее
			.club__choice-block
				.club__choice-block-img
					.club__choice-block-img-wrap
						img(src='static/img/t2.jpg')
					.club__choice-address-block
						p Одна две строчки информации<br>две строчки информации
						a(href="#") Подробнее
			.club__choice-block
				.club__choice-block-img
					.club__choice-block-img-wrap
						img(src='static/img/t3.jpg')
						p Outrace
					.club__choice-address-block
						p Одна две строчки информации<br>две строчки информации
						a(href="#") Подробнее
			.club__choice-block
				.club__choice-block-img
					.club__choice-block-img-wrap
						img(src='static/img/t4.jpg')
						p LesMills
					.club__choice-address-block
						p Одна две строчки информации<br>две строчки информации
						a(href="#") Подробнее